.nav_container{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 8vh;
  background-color: var(--yellow);
  
li{
  list-style: none;
}
a{
  text-decoration: none;
  color: var(--blue);
  @media screen and (max-width: 768px) {
  color: var(--white);
  }
  
}

.brand{
  text-transform: uppercase;
  font-weight: bold;
}

.menu{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;


  @media screen and (max-width: 768px) {
    position: fixed;
    top: 7vh;
    right: 0;
    width: 50%;
    height: 93vh;
    background-color: var(--blue);
    flex-direction: column;
    transform: translateX(100%);
    transition: 0.5s;
    }


    .nav_menu_responsive{
      transform: translateX(0);
    }


}

.toogle{
  border-radius: 5px;
  padding: 5px;
  width: 2.5rem;
  height: 2.5rem;
  color: var(--white);
  background-color: var(--blue);
  cursor: pointer;
  display: none;


  &:hover{
    background: var(--white);
    color: var(--blue);
  }

  @media screen and (max-width: 768px) {
  display: block;
  
  }
}

}