.nav_container{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 8vh;
  background-color: var(--yellow);
  
  
li{
  list-style: none;
}
a{
  text-decoration: none;
  color: var(--blue);
  @media screen and (max-width: 768px) {
  color: var(--white);
  
  }
  
}

.brand{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content:left;

  img{
    padding-left: 40px;
    height: 7vh;
    width: 150px;
  }
}
.menu{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 50%;
  gap: 3rem;
 
  li {
    font-size: 1.2em;
    font-weight: bold;
    display: inline;
    margin: 2px;
    padding: 4px;
    border-radius: 5px;

    &:hover{
      background-color: var(--white);
    }
  }


    @media screen and (max-width: 768px) {
      position: fixed;
      top: 8vh;
      right: 0;
      width: 50%;
      max-width: 200px;
      height: 93vh;
      background-color: var(--blue);
      flex-direction: column;
      transform: translateX(100%);
      transition: transform 0.5s;
      font-size: 1.2em;
      line-height: 1.5;

      ul{
        position: fixed;
        top: 2vh;
        left: 1vh;
        width: 90%;
      

        li{
          width: 100%;
          display: flex;
          margin: 0 auto;
          
        }
        li:hover{
          border-radius: 2px;
          background-color: var(--fire-orange);
       }
    
    }
  

 
   }
   &.nav_menu_responsive {
    transform: translateX(0);
    z-index: 100;
  }
    
  

}

.toogle{
  border-radius: 5px;
  padding: 5px;
  width: 2.5rem;
  height: 2.5rem;
  color: var(--white);
  background-color: var(--blue);
  cursor: pointer;
  display: none;


  &:hover{
    background: var(--white);
    color: var(--blue);
  }

  @media screen and (max-width: 768px) {
  display: block;
  position: fixed;
  right: 20px;
  top: 2vh;
  }
}

}

